body{
    font-family: Verdana, sans-serif;

    margin: 0px;
}

    header{
        background-color: #FFD900;
    }

        header img{
            width: 15%;
            padding: 2% 0 2% 5%;
        }

    section{
        display: grid;
        grid-auto-flow: column;
    }

        section h1{
            font-size: 45px;
            font-weight: 700;

            margin-top: 22px;
        }

            .upperCase{
                text-transform: uppercase;
            }

        section h2{
            font-size: 20px;
            font-weight: 600;
            
            margin-top: 0px;
        }

        #text{
            background-color: #514988;

            text-align: center;
            color: #FFFFFF;

            padding: 0 5% 0 5%;
        }

            #text h1{
                color: #F3C61F;
            }

            #text p{
                font-size: 20px;

                padding-top: 5%;
            }

        #animation{
            padding: 0 2% 2% 1%;
        }

            #countDownDisplay{
                text-align: center;

                padding-left: 3%;
            }

                #countDown{
                    color: #514988;

                    display: grid;
                    grid-auto-flow: column;
                }

                    #countDown h1{
                        margin-bottom: 0px;
                    }

                #countDownDisplay h2{
                    color: #E33881;
                }

            #animation video{
                width: 100%;   
            }

    footer{
        display: flex;
        flex-direction: row;
        
        padding: 0 1% 0 2%;
    }

        #tickets{
            text-align: center;
        }

        #tickets h2{
            color: #F3C61F;
            font-size: 20px;
            font-weight: 600;
        }

            #eventDays img{
                width: 140px;
            }

        footer button{
            background-color: #514988;

            color: #FFFFFF;
            font-family: Verdana, sans-serif;
            font-size: 45px;
            font-weight: 700;
            line-height: 1.1;

            border: none;
            border-radius: 18px;

            padding: 30px 45px;
        }

        #button{
            margin: auto;
        }

        footer button:hover{
            cursor: pointer
        }